<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AluminiumCoreLib" version="2.0.0-alpha4" targetFramework="net472" />
  <package id="CSMarkLib.Benchmark" version="1.4.8" targetFramework="net472" />
  <package id="CSMarkLib.StressTest" version="2.0.0-preview10" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
</packages>