<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AluminiumCoreLib" version="2.0.0-alpha1" targetFramework="net471" />
  <package id="AluminiumCoreLib.Hardware" version="1.0.0-beta1" targetFramework="net472" />
  <package id="Autoupdater.NET.Official" version="1.4.10" targetFramework="net472" />
  <package id="CSMarkLib" version="2.0.0-preview6" targetFramework="net472" />
  <package id="CSMarkLib.UpdatingServices" version="1.1.0-beta" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
</packages>
<!-- Copyright 2017-2018 AluminiumTech
   This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.-->